In [1]:
import pandas as pd
import re
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import sidetable

In [2]:
pd.options.display.max_columns = None
# pd.options.display.max_rows = None

Cargamos el archivo limpio

In [3]:
# Abrir con index_col = 0
df = pd.read_csv("../data/6.dataframe_analisis.csv", index_col = 0)

# Se hace esto para resetear los índices
df.reset_index(drop=True , inplace=True)
df.head(2)

,q1_edad,q2_genero,q3_país,q4_educacion,q5_ocupacion,q6_exp_tech,q8_l_recomendado,q11_tipo_plataforma,q20_i_actual,q21_tamanio_cia,q22_da_cia,q25_salario,q26_ppto_ml_cc,q33_bigdata_product,q35_h_i_negocios,q41_h_process_data,q7_l_utilizados,q9_adi,q14_h_viz,q10_part_1,q10_part_2,q10_part_3,q10_part_4,q10_part_5,q10_part_6,q10_part_7,q10_part_8,q10_part_9,q10_part_10,q10_part_11,q10_part_12,q10_part_13,q10_part_14,q10_part_15,q10_part_16,q10_other,q18_part_1,q18_part_2,q18_part_3,q18_part_4,q18_part_5,q18_part_6,q18_other,q27_a_part_1,q27_a_part_2,q27_a_part_3,q27_a_part_4,q27_a_part_5,q27_a_part_6,q27_a_part_7,q27_a_part_8,q27_a_part_9,q27_a_part_10,q27_a_part_11,q27_a_other,q39_part_1,q39_part_2,q39_part_3,q39_part_4,q39_part_5,q39_part_6,q39_part_7,q39_part_8,q39_part_9,q39_other,q40_part_1,q40_part_2,q40_part_3,q40_part_4,q40_part_5,q40_part_6,q40_part_7,q40_part_8,q40_part_9,q40_part_10,q40_part_11,q40_other,q42_part_1,q42_part_2,q42_part_3,q42_part_4,q42_part_5,q42_part_6,q42_part_7,q42_part_8,q42_part_9,q42_part_10,q42_part_11,q42_other
0,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,Manufacturing/Fabrication,50-249 employees,3-4,"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
1,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Manufacturing/Fabrication,"1000-9,999 employees",1-2,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN

df.columns

# Valores duplicados

In [4]:
df.duplicated().sum()

8

# Eliminar los duplicados

In [5]:
df.drop_duplicates(inplace= True)

In [6]:
df.duplicated().sum()

0

# Cambios en tipos de columnas (astype)

In [7]:
# df.select_dtypes(include=np.number)
# No tenemos variables numéricas

In [8]:
df.select_dtypes(include="object").columns

Index(['q1_edad', 'q2_genero', 'q3_país', 'q4_educacion', 'q5_ocupacion',
       'q6_exp_tech', 'q8_l_recomendado', 'q11_tipo_plataforma',
       'q20_i_actual', 'q21_tamanio_cia', 'q22_da_cia', 'q25_salario',
       'q26_ppto_ml_cc', 'q33_bigdata_product', 'q35_h_i_negocios',
       'q41_h_process_data', 'q7_l_utilizados', 'q9_adi', 'q14_h_viz',
       'q10_part_1', 'q10_part_2', 'q10_part_3', 'q10_part_4', 'q10_part_5',
       'q10_part_6', 'q10_part_7', 'q10_part_8', 'q10_part_9', 'q10_part_10',
       'q10_part_11', 'q10_part_12', 'q10_part_13', 'q10_part_14',
       'q10_part_15', 'q10_part_16', 'q10_other', 'q18_part_1', 'q18_part_2',
       'q18_part_3', 'q18_part_4', 'q18_part_5', 'q18_part_6', 'q18_other',
       'q27_a_part_1', 'q27_a_part_2', 'q27_a_part_3', 'q27_a_part_4',
       'q27_a_part_5', 'q27_a_part_6', 'q27_a_part_7', 'q27_a_part_8',
       'q27_a_part_9', 'q27_a_part_10', 'q27_a_part_11', 'q27_a_other',
       'q39_part_1', 'q39_part_2', 'q39_part_3', 'q39_part_4', 'q39_part_5',
       'q39_part_6', 'q39_part_7', 'q39_part_8', 'q39_part_9', 'q39_other',
       'q40_part_1', 'q40_part_2', 'q40_part_3', 'q40_part_4', 'q40_part_5',
       'q40_part_6', 'q40_part_7', 'q40_part_8', 'q40_part_9', 'q40_part_10',
       'q40_part_11', 'q40_other', 'q42_part_1', 'q42_part_2', 'q42_part_3',
       'q42_part_4', 'q42_part_5', 'q42_part_6', 'q42_part_7', 'q42_part_8',
       'q42_part_9', 'q42_part_10', 'q42_part_11', 'q42_other'],
      dtype='object')

In [9]:
df.shape

(25965, 89)

# Ordenar columnas. `Pendiente`

In [10]:
df.head(2)

,q1_edad,q2_genero,q3_país,q4_educacion,q5_ocupacion,q6_exp_tech,q8_l_recomendado,q11_tipo_plataforma,q20_i_actual,q21_tamanio_cia,q22_da_cia,q25_salario,q26_ppto_ml_cc,q33_bigdata_product,q35_h_i_negocios,q41_h_process_data,q7_l_utilizados,q9_adi,q14_h_viz,q10_part_1,q10_part_2,q10_part_3,q10_part_4,q10_part_5,q10_part_6,q10_part_7,q10_part_8,q10_part_9,q10_part_10,q10_part_11,q10_part_12,q10_part_13,q10_part_14,q10_part_15,q10_part_16,q10_other,q18_part_1,q18_part_2,q18_part_3,q18_part_4,q18_part_5,q18_part_6,q18_other,q27_a_part_1,q27_a_part_2,q27_a_part_3,q27_a_part_4,q27_a_part_5,q27_a_part_6,q27_a_part_7,q27_a_part_8,q27_a_part_9,q27_a_part_10,q27_a_part_11,q27_a_other,q39_part_1,q39_part_2,q39_part_3,q39_part_4,q39_part_5,q39_part_6,q39_part_7,q39_part_8,q39_part_9,q39_other,q40_part_1,q40_part_2,q40_part_3,q40_part_4,q40_part_5,q40_part_6,q40_part_7,q40_part_8,q40_part_9,q40_part_10,q40_part_11,q40_other,q42_part_1,q42_part_2,q42_part_3,q42_part_4,q42_part_5,q42_part_6,q42_part_7,q42_part_8,q42_part_9,q42_part_10,q42_part_11,q42_other
0,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,Manufacturing/Fabrication,50-249 employees,3-4,"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
1,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Manufacturing/Fabrication,"1000-9,999 employees",1-2,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN

# Tratamiento de los outliers

No existen outliers

In [11]:
df_numericas = df.select_dtypes(include=np.number)

# Tratamiento de nulos

In [12]:
df.stb.missing()

               missing  total    percent
q18_other        25846  25965  99.541691
q39_part_3       25829  25965  99.476218
q10_part_15      25818  25965  99.433853
q27_a_part_10    25793  25965  99.337570
q10_part_6       25790  25965  99.326016
...                ...    ...        ...
q5_ocupacion         0  25965   0.000000
q2_genero            0  25965   0.000000
q4_educacion         0  25965   0.000000
q3_país              0  25965   0.000000
q1_edad              0  25965   0.000000

[89 rows x 3 columns]

De la q1 a q6 no existen valores nulos

In [13]:
lista_q_18 = ['q18_part_1', 'q18_part_2', 'q18_part_3', 'q18_part_4', 'q18_part_5',
       'q18_part_6', 'q18_other']

In [14]:
df_q18 = df[lista_q_18]
df_q18.head(10)

,q18_part_1,q18_part_2,q18_part_3,q18_part_4,q18_part_5,q18_part_6,q18_other
0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,"Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,"Generative Networks (GAN, VAE, etc)",NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_q18.shape

(25965, 7)

In [16]:
# df_18_sin_nulos = df_q18.dropna(how=all )

In [17]:
df_q18.stb.missing()

            missing  total    percent
q18_other     25846  25965  99.541691
q18_part_6    24526  25965  94.457924
q18_part_5    24473  25965  94.253803
q18_part_1    23303  25965  89.747737
q18_part_3    23249  25965  89.539765
q18_part_2    23225  25965  89.447333
q18_part_4    21592  25965  83.158097

In [18]:
df["q5_ocupacion"].value_counts()

Student                         6798
Data Scientist                  3616
Software Engineer               2449
Other                           2392
Data Analyst                    2301
Currently not employed          1986
Research Scientist              1538
Machine Learning Engineer       1498
Business Analyst                 968
Program/Project Manager          849
Data Engineer                    668
Product Manager                  319
Statistician                     313
DBA/Database Engineer            171
Developer Relations/Advocacy      99
Name: q5_ocupacion, dtype: int64

DF para responder a preguntas 3, sobre herramientas

In [19]:
df_analistas = df[df["q5_ocupacion"]== "Data Analyst"]

In [20]:
df_analistas.stb.missing()

              missing  total    percent
q18_other        2291   2301  99.565406
q10_part_4       2287   2301  99.391569
q10_part_6       2286   2301  99.348110
q10_part_13      2281   2301  99.130813
q10_part_14      2280   2301  99.087353
...               ...    ...        ...
q6_exp_tech         0   2301   0.000000
q5_ocupacion        0   2301   0.000000
q4_educacion        0   2301   0.000000
q3_país             0   2301   0.000000
q1_edad             0   2301   0.000000

[89 rows x 3 columns]

In [21]:
df_analistas.shape

(2301, 89)

In [22]:
lista_eliminar = ['q18_part_1', 'q18_part_2', 'q18_part_3', 'q18_part_4', 'q18_part_5',
       'q18_part_6', 'q18_other',
       
       'q10_part_1', 'q10_part_2', 'q10_part_3', 'q10_part_4', 'q10_part_5',
       'q10_part_6', 'q10_part_7', 'q10_part_8', 'q10_part_9', 'q10_part_10',
       'q10_part_11', 'q10_part_12', 'q10_part_13', 'q10_part_14',
       'q10_part_15', 'q10_part_16', 'q10_other', 
       
       'q39_part_1', 'q39_part_2', 'q39_part_3', 'q39_part_4', 'q39_part_5',
       'q39_part_6', 'q39_part_7', 'q39_part_8', 'q39_part_9', 'q39_other', 
       
       'q27_a_part_1', 'q27_a_part_2', 'q27_a_part_3', 'q27_a_part_4',
       'q27_a_part_5', 'q27_a_part_6', 'q27_a_part_7', 'q27_a_part_8',
       'q27_a_part_9', 'q27_a_part_10', 'q27_a_part_11', 'q27_a_other',


       'q40_part_1', 'q40_part_2', 'q40_part_3', 'q40_part_4', 'q40_part_5',
       'q40_part_6', 'q40_part_7', 'q40_part_8', 'q40_part_9', 'q40_part_10',
       'q40_part_11', 'q40_other']

In [23]:
df_analistas = df_analistas.drop(['q18_part_1', 'q18_part_2', 'q18_part_3', 'q18_part_4', 'q18_part_5',
       'q18_part_6', 'q18_other',
       
       'q10_part_1', 'q10_part_2', 'q10_part_3', 'q10_part_4', 'q10_part_5',
       'q10_part_6', 'q10_part_7', 'q10_part_8', 'q10_part_9', 'q10_part_10',
       'q10_part_11', 'q10_part_12', 'q10_part_13', 'q10_part_14',
       'q10_part_15', 'q10_part_16', 'q10_other', 
       
       'q39_part_1', 'q39_part_2', 'q39_part_3', 'q39_part_4', 'q39_part_5',
       'q39_part_6', 'q39_part_7', 'q39_part_8', 'q39_part_9', 'q39_other', 
       
       'q27_a_part_1', 'q27_a_part_2', 'q27_a_part_3', 'q27_a_part_4',
       'q27_a_part_5', 'q27_a_part_6', 'q27_a_part_7', 'q27_a_part_8',
       'q27_a_part_9', 'q27_a_part_10', 'q27_a_part_11', 'q27_a_other',


       'q40_part_1', 'q40_part_2', 'q40_part_3', 'q40_part_4', 'q40_part_5',
       'q40_part_6', 'q40_part_7', 'q40_part_8', 'q40_part_9', 'q40_part_10',
       'q40_part_11', 'q40_other'], axis=1)

In [24]:
df_analistas.shape

(2301, 31)

Limpiar la columna 'Q25_salario'

In [25]:
df_analistas['q25_salario'].unique()

array(['2,000-2,999', nan, '7,500-9,999', '$0-999', '25,000-29,999',
       '1,000-1,999', '100,000-124,999', '5,000-7,499', '10,000-14,999',
       '15,000-19,999', '60,000-69,999', '125,000-149,999',
       '20,000-24,999', '3,000-3,999', '4,000-4,999', '30,000-39,999',
       '40,000-49,999', '200,000-249,999', '80,000-89,999',
       '50,000-59,999', '70,000-79,999', '90,000-99,999',
       '150,000-199,999', '300,000-499,999', '250,000-299,999',
       '>$1,000,000', '$500,000-999,999'], dtype=object)

In [26]:
#df_analistas['q25_salario_limpia']= df_analistas['q25_salario'].apply(lambda x: x.replace("$",""))
df_analistas['q25_salario_limpia']= df_analistas['q25_salario'].replace({',':''}, regex=True)
#Si añado lo hago así, no me reemplaza el símbolo del dolar :  df_analistas['q25_salario_limpia']= df_analistas['q25_salario'].replace({',':''}, regex=True).replace({'$':''}, regex=True)

In [27]:
df_analistas['q25_salario_limpia'].unique()

array(['2000-2999', nan, '7500-9999', '$0-999', '25000-29999',
       '1000-1999', '100000-124999', '5000-7499', '10000-14999',
       '15000-19999', '60000-69999', '125000-149999', '20000-24999',
       '3000-3999', '4000-4999', '30000-39999', '40000-49999',
       '200000-249999', '80000-89999', '50000-59999', '70000-79999',
       '90000-99999', '150000-199999', '300000-499999', '250000-299999',
       '>$1000000', '$500000-999999'], dtype=object)

In [28]:
def limpia_salario(salario):
    patron = "(\d+|\d+)"
    try:
        return re.findall(patron, str(salario))
    except: 
        np.nan

In [29]:
df_analistas['q25_salario_limpia'] = (df_analistas['q25_salario_limpia'].apply(limpia_salario))

In [30]:
df_analistas['q25_salario_limpia'].head()

16      [2000, 2999]
32                []
33      [7500, 9999]
46          [0, 999]
52    [25000, 29999]
Name: q25_salario_limpia, dtype: object

In [31]:
df_analistas['salario1'] = df_analistas['q25_salario_limpia'].str.get(0)

In [32]:
df_analistas['salario1'] = df_analistas['salario1'].astype('Int64', errors = 'raise')

In [33]:
df_analistas['salario1'].unique()

<IntegerArray>
[   2000,    <NA>,    7500,       0,   25000,    1000,  100000,    5000,
   10000,   15000,   60000,  125000,   20000,    3000,    4000,   30000,
   40000,  200000,   80000,   50000,   70000,   90000,  150000,  300000,
  250000, 1000000,  500000]
Length: 27, dtype: Int64

In [34]:
df_analistas['salario2'] = df_analistas['q25_salario_limpia'].str.get(1)

In [35]:
df_analistas['salario2'].head()

16     2999
32      NaN
33     9999
46      999
52    29999
Name: salario2, dtype: object

In [36]:
df_analistas['salario2'] = df_analistas['salario2'].astype('Int64', errors = 'raise')

In [37]:
df_analistas['salario2'].unique()

<IntegerArray>
[  2999,   <NA>,   9999,    999,  29999,   1999, 124999,   7499,  14999,
  19999,  69999, 149999,  24999,   3999,   4999,  39999,  49999, 249999,
  89999,  59999,  79999,  99999, 199999, 499999, 299999, 999999]
Length: 26, dtype: Int64

In [38]:
df_analistas['media_salario'] = df_analistas[['salario1', 'salario2']].mean(axis  = 1)

In [39]:
df_analistas['media_salario'].head()

16     2499.5
32        NaN
33     8749.5
46      499.5
52    27499.5
Name: media_salario, dtype: float64

In [42]:
df_analistas.head(3)

,q1_edad,q2_genero,q3_país,q4_educacion,q5_ocupacion,q6_exp_tech,q8_l_recomendado,q11_tipo_plataforma,q20_i_actual,q21_tamanio_cia,q22_da_cia,q25_salario,q26_ppto_ml_cc,q33_bigdata_product,q35_h_i_negocios,q41_h_process_data,q7_l_utilizados,q9_adi,q14_h_viz,q42_part_1,q42_part_2,q42_part_3,q42_part_4,q42_part_5,q42_part_6,q42_part_7,q42_part_8,q42_part_9,q42_part_10,q42_part_11,q42_other,q25_salario_limpia,salario1,salario2,media_salario
16,50-54,Man,Belgium,Bachelor’s degree,Data Analyst,20+ years,Python,A laptop,Energy/Mining,"1000-9,999 employees",5-9,"2,000-2,999",$0 ($USD),NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn ,Plotly / Plotly Express",NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN,"[2000, 2999]",2000,2999,2499.5
32,22-24,Nonbinary,United States of America,Some college/university study without earning ...,Data Analyst,< 1 years,R,A personal computer / desktop,Manufacturing/Fabrication,250-999 employees,3-4,NaN,NaN,NaN,NaN,NaN,R,RStudio,Ggplot / ggplot2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],<NA>,<NA>,NaN
33,30-34,Woman,Egypt,Bachelor’s degree,Data Analyst,3-5 years,R,A laptop,Non-profit/Service,0-49 employees,0,"7,500-9,999",$0 ($USD),NaN,NaN,"Basic statistical software (Microsoft Excel, G...",Python,"Notepad++,Jupyter Notebook",None,Twitter (data science influencers),"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN,"[7500, 9999]",7500,9999,8749.5

In [41]:
#Mirar de hace un contador, que la media de los valores de la lista se almacenen en otra columna
for val in df_analistas['q25_salario_limpia']:
    try:
        print((int(val[0])+int(val[1]))/2)
    except:
        pass #o np.nan?

2499.5
8749.5
499.5
27499.5
499.5
1499.5
112499.5
1499.5
499.5
112499.5
6249.5
12499.5
499.5
2499.5
6249.5
499.5
499.5
499.5
12499.5
8749.5
17499.5
1499.5
12499.5
64999.5
6249.5
27499.5
6249.5
1499.5
137499.5
137499.5
22499.5
1499.5
3499.5
499.5
27499.5
4499.5
17499.5
499.5
499.5
64999.5
499.5
17499.5
499.5
112499.5
22499.5
499.5
2499.5
12499.5
34999.5
27499.5
499.5
34999.5
499.5
8749.5
22499.5
499.5
17499.5
499.5
499.5
499.5
44999.5
17499.5
499.5
12499.5
224999.5
499.5
84999.5
1499.5
499.5
4499.5
3499.5
499.5
17499.5
17499.5
84999.5
499.5
54999.5
499.5
6249.5
12499.5
499.5
3499.5
499.5
6249.5
4499.5
74999.5
6249.5
8749.5
6249.5
1499.5
499.5
2499.5
64999.5
1499.5
499.5
112499.5
499.5
64999.5
12499.5
12499.5
3499.5
34999.5
499.5
1499.5
499.5
499.5
64999.5
499.5
17499.5
84999.5
6249.5
499.5
94999.5
112499.5
499.5
112499.5
44999.5
2499.5
12499.5
54999.5
4499.5
1499.5
2499.5
64999.5
3499.5
499.5
8749.5
499.5
6249.5
34999.5
34999.5
34999.5
2499.5
8749.5
6249.5
12499.5
64999.5
499.5
34999.5
6249.5
84999.5
12499.5
499.5
27499.5
64999.5
6249.5
499.5
12499.5
12499.5
4499.5
17499.5
8749.5
44999.5
499.5
1499.5
3499.5
112499.5
2499.5
1499.5
2499.5
54999.5
1499.5
17499.5
12499.5
499.5
6249.5
22499.5
6249.5
112499.5
3499.5
3499.5
8749.5
17499.5
64999.5
499.5
499.5
3499.5
74999.5
499.5
112499.5
54999.5
1499.5
54999.5
499.5
499.5
1499.5
499.5
17499.5
1499.5
499.5
112499.5
1499.5
74999.5
499.5
17499.5
6249.5
499.5
84999.5
499.5
34999.5
2499.5
1499.5
1499.5
499.5
499.5
74999.5
499.5
8749.5
3499.5
22499.5
74999.5
44999.5
54999.5
1499.5
4499.5
27499.5
499.5
499.5
499.5
2499.5
22499.5
499.5
17499.5
22499.5
17499.5
499.5
34999.5
1499.5
499.5
74999.5
499.5
4499.5
499.5
1499.5
499.5
6249.5
22499.5
8749.5
137499.5
34999.5
1499.5
64999.5
499.5
499.5
12499.5
17499.5
499.5
27499.5
499.5
499.5
499.5
12499.5
499.5
499.5
1499.5
3499.5
44999.5
6249.5
17499.5
499.5
1499.5
64999.5
74999.5
12499.5
499.5
64999.5
6249.5
44999.5
64999.5
499.5
499.5
499.5
112499.5
499.5
499.5
44999.5
54999.5
499.5
22499.5
54999.5
44999.5
499.5
499.5
499.5
3499.5
4499.5
17499.5
2499.5
84999.5
44999.5
27499.5
499.5
94999.5
1499.5
499.5
44999.5
12499.5
499.5
2499.5
499.5
499.5
34999.5
499.5
499.5
3499.5
499.5
3499.5
1499.5
94999.5
499.5
74999.5
499.5
12499.5
6249.5
1499.5
499.5
64999.5
1499.5
499.5
3499.5
3499.5
2499.5
2499.5
499.5
12499.5
27499.5
27499.5
17499.5
499.5
499.5
4499.5
34999.5
137499.5
27499.5
34999.5
8749.5
499.5
44999.5
499.5
499.5
54999.5
499.5
3499.5
74999.5
44999.5
8749.5
17499.5
22499.5
3499.5
499.5
22499.5
27499.5
112499.5
499.5
27499.5
499.5
8749.5
12499.5
499.5
1499.5
499.5
64999.5
3499.5
1499.5
1499.5
499.5
1499.5
74999.5
6249.5
1499.5
44999.5
499.5
44999.5
1499.5
499.5
22499.5
74999.5
499.5
499.5
64999.5
84999.5
6249.5
64999.5
12499.5
499.5
74999.5
112499.5
499.5
137499.5
34999.5
499.5
27499.5
499.5
499.5
17499.5
12499.5
8749.5
44999.5
64999.5
2499.5
2499.5
1499.5
4499.5
54999.5
499.5
6249.5
17499.5
112499.5
44999.5
499.5
12499.5
3499.5
12499.5
54999.5
499.5
84999.5
499.5
12499.5
499.5
174999.5
74999.5
499.5
1499.5
499.5
44999.5
3499.5
6249.5
34999.5
4499.5
1499.5
1499.5
3499.5
8749.5
12499.5
1499.5
12499.5
74999.5
44999.5
12499.5
34999.5
64999.5
112499.5
27499.5
499.5
2499.5
499.5
499.5
17499.5
499.5
499.5
1499.5
8749.5
54999.5
2499.5
499.5
22499.5
499.5
4499.5
22499.5
6249.5
2499.5
499.5
84999.5
1499.5
54999.5
499.5
112499.5
12499.5
2499.5
12499.5
1499.5
54999.5
74999.5
4499.5
4499.5
112499.5
499.5
44999.5
499.5
6249.5
499.5
44999.5
64999.5
499.5
3499.5
499.5
499.5
8749.5
499.5
12499.5
499.5
44999.5
137499.5
44999.5
34999.5
112499.5
3499.5
12499.5
6249.5
499.5
74999.5
499.5
12499.5
499.5
1499.5
8749.5
1499.5
54999.5
499.5
22499.5
6249.5
4499.5
112499.5
499.5
74999.5
84999.5
499.5
1499.5
34999.5
2499.5
499.5
27499.5
1499.5
112499.5
6249.5
1499.5
22499.5
44999.5
12499.5
34999.5
112499.5
174999.5
27499.5
499.5
3499.5
2499.5
1499.5
1499.5
499.5
22499.5
12499.5
22499.5
112499.5
8749.5
1499.5
44999.5
12499.5
44999.5
499.5
6249.5
22499.5
54999.5
6249.5
8749.5
34999.5
6249.5
499.5
499.5
27499.5
22499.5
499.5
8749.5
1499.5
74999.5
2499.5
499.5
499.5
4499.5
2499.5
499.5
112499.5
12499.5
1499.5
499.5
8749.5
8749.5
3499.5
22499.5
1499.5
1499.5
12499.5
44999.5
22499.5
499.5
34999.5
12499.5
499.5
499.5
34999.5
6249.5
12499.5
1499.5
74999.5
174999.5
3499.5
84999.5
1499.5
499.5
6249.5
74999.5
54999.5
112499.5
12499.5
8749.5
44999.5
499.5
6249.5
8749.5
1499.5
44999.5
44999.5
17499.5
499.5
54999.5
2499.5
2499.5
499.5
499.5
112499.5
1499.5
74999.5
1499.5
44999.5
112499.5
74999.5
94999.5
6249.5
22499.5
3499.5
499.5
499.5
499.5
499.5
499.5
17499.5
84999.5
44999.5
499.5
84999.5
12499.5
2499.5
499.5
84999.5
17499.5
22499.5
2499.5
6249.5
2499.5
499.5
499.5
64999.5
1499.5
499.5
1499.5
1499.5
27499.5
1499.5
499.5
2499.5
499.5
4499.5
1499.5
499.5
3499.5
6249.5
54999.5
54999.5
1499.5
499.5
499.5
499.5
499.5
74999.5
6249.5
1499.5
1499.5
6249.5
54999.5
4499.5
64999.5
499.5
12499.5
8749.5
27499.5
22499.5
174999.5
499.5
64999.5
64999.5
6249.5
499.5
499.5
499.5
499.5
12499.5
74999.5
1499.5
3499.5
2499.5
8749.5
3499.5
137499.5
3499.5
34999.5
499.5
1499.5
8749.5
4499.5
499.5
499.5
4499.5
2499.5
499.5
499.5
499.5
1499.5
8749.5
84999.5
34999.5
17499.5
1499.5
499.5
6249.5
22499.5
44999.5
22499.5
8749.5
1499.5
17499.5
54999.5
1499.5
2499.5
499.5
12499.5
499.5
112499.5
499.5
8749.5
499.5
4499.5
499.5
74999.5
12499.5
499.5
3499.5
2499.5
499.5
499.5
64999.5
44999.5
64999.5
499.5
499.5
1499.5
17499.5
499.5
499.5
12499.5
8749.5
8749.5
12499.5
12499.5
499.5
1499.5
1499.5
44999.5
6249.5
499.5
112499.5
22499.5
499.5
34999.5
94999.5
34999.5
8749.5
54999.5
399999.5
499.5
4499.5
54999.5
3499.5
34999.5
54999.5
499.5
17499.5
3499.5
1499.5
499.5
17499.5
499.5
12499.5
64999.5
27499.5
94999.5
499.5
54999.5
499.5
34999.5
112499.5
3499.5
12499.5
499.5
84999.5
34999.5
2499.5
499.5
1499.5
64999.5
499.5
6249.5
22499.5
499.5
2499.5
64999.5
1499.5
64999.5
499.5
499.5
499.5
54999.5
12499.5
499.5
22499.5
499.5
64999.5
499.5
84999.5
499.5
64999.5
1499.5
3499.5
499.5
499.5
12499.5
4499.5
1499.5
44999.5
499.5
4499.5
84999.5
499.5
27499.5
74999.5
499.5
499.5
499.5
1499.5
54999.5
74999.5
499.5
44999.5
1499.5
17499.5
6249.5
399999.5
499.5
499.5
3499.5
1499.5
34999.5
499.5
84999.5
27499.5
34999.5
499.5
3499.5
34999.5
12499.5
27499.5
6249.5
64999.5
1499.5
94999.5
112499.5
499.5
17499.5
112499.5
1499.5
2499.5
1499.5
224999.5
8749.5
1499.5
12499.5
1499.5
22499.5
8749.5
17499.5
17499.5
3499.5
84999.5
1499.5
12499.5
1499.5
499.5
499.5
17499.5
499.5
44999.5
64999.5
2499.5
174999.5
4499.5
499.5
2499.5
499.5
499.5
17499.5
499.5
499.5
64999.5
8749.5
1499.5
499.5
499.5
94999.5
44999.5
12499.5
1499.5
6249.5
12499.5
499.5
64999.5
44999.5
17499.5
54999.5
8749.5
74999.5
12499.5
499.5
499.5
137499.5
499.5
1499.5
4499.5
54999.5
54999.5
8749.5
12499.5
34999.5
2499.5
112499.5
74999.5
54999.5
499.5
8749.5
4499.5
1499.5
84999.5
22499.5
499.5
4499.5
27499.5
1499.5
34999.5
4499.5
8749.5
22499.5
84999.5
12499.5
54999.5
499.5
1499.5
499.5
1499.5
499.5
12499.5
94999.5
34999.5
17499.5
399999.5
8749.5
2499.5
499.5
64999.5
8749.5
499.5
22499.5
1499.5
74999.5
499.5
44999.5
6249.5
54999.5
44999.5
34999.5
2499.5
499.5
3499.5
34999.5
84999.5
12499.5
22499.5
27499.5
4499.5
499.5
1499.5
54999.5
6249.5
44999.5
499.5
74999.5
12499.5
499.5
74999.5
3499.5
4499.5
499.5
17499.5
8749.5
22499.5
12499.5
499.5
499.5
27499.5
499.5
499.5
27499.5
74999.5
34999.5
4499.5
6249.5
54999.5
499.5
1499.5
44999.5
274999.5
12499.5
499.5
112499.5
54999.5
4499.5
17499.5
4499.5
4499.5
64999.5
54999.5
94999.5
54999.5
6249.5
12499.5
64999.5
499.5
94999.5
74999.5
499.5
6249.5
64999.5
1499.5
74999.5
499.5
499.5
6249.5
499.5
74999.5
499.5
499.5
1499.5
34999.5
34999.5
499.5
34999.5
22499.5
34999.5
1499.5
8749.5
27499.5
112499.5
17499.5
94999.5
27499.5
84999.5
499.5
499.5
499.5
1499.5
54999.5
499.5
22499.5
27499.5
499.5
499.5
22499.5
6249.5
499.5
34999.5
112499.5
1499.5
499.5
499.5
499.5
4499.5
17499.5
499.5
3499.5
54999.5
22499.5
4499.5
3499.5
499.5
499.5
6249.5
74999.5
8749.5
499.5
94999.5
94999.5
44999.5
34999.5
2499.5
4499.5
22499.5
22499.5
12499.5
3499.5
499.5
499.5
3499.5
499.5
2499.5
499.5
6249.5
12499.5
54999.5
1499.5
1499.5
34999.5
499.5
112499.5
499.5
499.5
6249.5
17499.5
6249.5
22499.5
499.5
8749.5
499.5
1499.5
499.5
8749.5
3499.5
499.5
74999.5
499.5
224999.5
499.5
34999.5
12499.5
6249.5
12499.5
499.5
6249.5
1499.5
1499.5
44999.5
8749.5
499.5
1499.5
6249.5
54999.5
1499.5
1499.5
64999.5
6249.5
2499.5
499.5
74999.5
54999.5
1499.5
84999.5
499.5
112499.5
74999.5
112499.5
499.5
112499.5
8749.5
1499.5
499.5
27499.5
499.5
74999.5
499.5
6249.5
17499.5
112499.5
499.5
34999.5
64999.5
4499.5
34999.5
22499.5
1499.5
3499.5
12499.5
6249.5
499.5
499.5
1499.5
6249.5
499.5
74999.5
54999.5
4499.5
499.5
94999.5
1499.5
499.5
12499.5
3499.5
2499.5
22499.5
34999.5
6249.5
499.5
499.5
74999.5
64999.5
1499.5
499.5
84999.5
6249.5
6249.5
499.5
22499.5
27499.5
54999.5
17499.5
22499.5
4499.5
8749.5
17499.5
74999.5
1499.5
499.5
12499.5
17499.5
499.5
4499.5
8749.5
112499.5
6249.5
44999.5
74999.5
499.5
64999.5
499.5
12499.5
1499.5
6249.5
499.5
54999.5
499.5
64999.5
499.5
27499.5
499.5
34999.5
499.5
12499.5
12499.5
499.5
6249.5
22499.5
112499.5
54999.5
499.5
499.5
8749.5
8749.5
64999.5
54999.5
34999.5
137499.5
12499.5
27499.5
74999.5
1499.5
112499.5
64999.5
22499.5
6249.5
22499.5
6249.5
8749.5
22499.5
174999.5
499.5
64999.5
8749.5
17499.5
74999.5
54999.5
12499.5
54999.5
12499.5
17499.5
137499.5
2499.5
64999.5
1499.5
6249.5
17499.5
499.5
27499.5
499.5
499.5
12499.5
6249.5
34999.5
44999.5
4499.5
44999.5
499.5
12499.5
499.5
499.5
94999.5
8749.5
6249.5
499.5
499.5
1499.5
4499.5
34999.5
74999.5
3499.5
499.5
499.5
12499.5
499.5
27499.5
22499.5
12499.5
4499.5
74999.5
12499.5
64999.5
499.5
12499.5
499.5
1499.5
17499.5
499.5
22499.5
12499.5
499.5
1499.5
54999.5
74999.5
499.5
64999.5
499.5
94999.5
17499.5
27499.5
94999.5
499.5
12499.5
84999.5
499.5
74999.5
3499.5
17499.5
1499.5
22499.5
44999.5
4499.5
8749.5
64999.5
112499.5
1499.5
17499.5
44999.5
8749.5
1499.5
34999.5
27499.5
112499.5
499.5
6249.5
6249.5
2499.5
1499.5
12499.5
44999.5
27499.5
84999.5
499.5
499.5
44999.5
12499.5
499.5
44999.5
64999.5
499.5
8749.5
8749.5
499.5
12499.5
499.5
499.5
499.5
6249.5
499.5
34999.5
499.5
499.5
74999.5
6249.5
64999.5
1499.5
499.5
499.5
499.5
44999.5
22499.5
34999.5
499.5
6249.5
1499.5
112499.5
17499.5
27499.5
54999.5
22499.5
2499.5
34999.5
8749.5
499.5
34999.5
12499.5
499.5
64999.5
8749.5
499.5
94999.5
112499.5
64999.5
3499.5
499.5
3499.5
499.5
84999.5
112499.5
1499.5
17499.5
12499.5
112499.5
4499.5
94999.5
1499.5
44999.5
499.5
74999.5
174999.5
499.5
17499.5
499.5
74999.5
499.5
64999.5
2499.5
174999.5
1499.5
499.5
12499.5
499.5
12499.5
34999.5
499.5
3499.5
499.5
44999.5
12499.5
44999.5
499.5
12499.5
44999.5
4499.5
54999.5
224999.5
4499.5
64999.5
499.5
12499.5
4499.5
22499.5
499.5
6249.5
6249.5
499.5
499.5
499.5
499.5
54999.5
54999.5
499.5
499.5
84999.5
34999.5
274999.5
12499.5
54999.5
12499.5
44999.5
12499.5
499.5
1499.5
2499.5
499.5
499.5
54999.5
64999.5
34999.5
6249.5
1499.5
3499.5
499.5
8749.5
112499.5
84999.5
44999.5
499.5
6249.5
27499.5
12499.5
499.5
499.5
499.5
84999.5
54999.5
499.5
112499.5
2499.5
8749.5
1499.5
74999.5
2499.5
499.5
54999.5
8749.5
8749.5
499.5
44999.5
1499.5
6249.5
137499.5
54999.5
8749.5
499.5
499.5
499.5
2499.5
12499.5
2499.5
17499.5
74999.5
22499.5
12499.5
54999.5
84999.5
12499.5
2499.5
499.5
84999.5
8749.5
499.5
499.5
8749.5
3499.5
499.5
2499.5
6249.5
499.5
4499.5
2499.5
499.5
2499.5
112499.5
499.5
499.5
8749.5
499.5
27499.5
112499.5
34999.5
6249.5
64999.5
12499.5
2499.5
12499.5
1499.5
499.5
27499.5
44999.5
64999.5
499.5
17499.5
44999.5
17499.5
17499.5
44999.5
499.5
12499.5
17499.5
84999.5
3499.5
22499.5
499.5
22499.5
4499.5
54999.5
8749.5
12499.5
499.5
1499.5
84999.5
54999.5
499.5
112499.5
499.5
12499.5
74999.5
54999.5
1499.5
4499.5
499.5
2499.5
4499.5
499.5
8749.5
12499.5
17499.5
1499.5
12499.5
112499.5
499.5
74999.5
3499.5
499.5
2499.5
1499.5
6249.5
499.5
112499.5
4499.5
12499.5
12499.5
94999.5
1499.5
1499.5
34999.5
1499.5
54999.5
64999.5
499.5
3499.5
499.5
74999.5
137499.5
64999.5
34999.5
499.5
749999.5
6249.5
12499.5
1499.5
44999.5
3499.5
17499.5
3499.5
2499.5
499.5
499.5
499.5
44999.5
4499.5
64999.5
3499.5
4499.5
499.5
499.5
499.5
499.5
44999.5
22499.5
6249.5
499.5
22499.5
8749.5
499.5
34999.5
499.5
12499.5
6249.5
499.5
8749.5
112499.5
8749.5
44999.5
499.5
44999.5
94999.5
44999.5
64999.5
499.5
8749.5
499.5
12499.5
8749.5
499.5
54999.5
12499.5
94999.5
499.5
12499.5
1499.5
64999.5
17499.5
44999.5
22499.5
64999.5
499.5
6249.5
1499.5
84999.5
1499.5
499.5
499.5
74999.5
74999.5
1499.5
499.5
12499.5
22499.5
54999.5
499.5
499.5
1499.5
112499.5
64999.5
84999.5
499.5
499.5
499.5
8749.5
22499.5
6249.5
34999.5
499.5
499.5
4499.5
499.5
64999.5
499.5
74999.5
499.5
27499.5
499.5
8749.5
17499.5
22499.5
1499.5
74999.5
112499.5
27499.5
499.5
112499.5
27499.5
44999.5
1499.5
499.5
22499.5
2499.5
6249.5
499.5
64999.5
12499.5
499.5
12499.5
499.5
27499.5
1499.5
112499.5
499.5
499.5
44999.5
499.5
3499.5
34999.5
137499.5
34999.5
27499.5
6249.5
54999.5
6249.5
12499.5
1499.5
3499.5
17499.5
34999.5
8749.5
12499.5
499.5
499.5
4499.5
499.5
44999.5
2499.5
2499.5
499.5
1499.5
112499.5
1499.5
8749.5
4499.5
499.5
499.5
3499.5
64999.5
499.5
8749.5
1499.5
22499.5
12499.5
174999.5
44999.5
22499.5
6249.5
1499.5
6249.5
64999.5
1499.5
6249.5
499.5
12499.5
74999.5
2499.5
112499.5
499.5
1499.5
1499.5
1499.5
1499.5
44999.5
6249.5
499.5
1499.5
6249.5
8749.5
12499.5
17499.5
34999.5
499.5
499.5
499.5
499.5
12499.5
6249.5
4499.5
499.5
1499.5
22499.5
112499.5
499.5
1499.5
6249.5
44999.5
4499.5
8749.5
6249.5
12499.5
3499.5
74999.5
499.5
112499.5
1499.5
499.5
22499.5
4499.5
64999.5
3499.5
499.5
6249.5
499.5
499.5
8749.5
1499.5
12499.5
6249.5
64999.5
74999.5
2499.5
499.5
499.5
22499.5
74999.5
1499.5
8749.5
499.5
27499.5
17499.5
12499.5
1499.5
54999.5
499.5
2499.5
112499.5
12499.5
44999.5
54999.5
22499.5
3499.5
499.5
12499.5
499.5
112499.5
54999.5
12499.5
1499.5
1499.5
4499.5
2499.5
44999.5
4499.5
84999.5
499.5
44999.5
94999.5
499.5
34999.5
112499.5
499.5
3499.5
12499.5
112499.5
499.5
84999.5
8749.5
499.5
499.5
499.5
499.5
499.5
74999.5
499.5
44999.5
1499.5
12499.5
499.5
22499.5
499.5
8749.5
8749.5
6249.5
6249.5
4499.5
12499.5
27499.5
499.5
2499.5
112499.5
27499.5
6249.5
44999.5
499.5
499.5
12499.5
27499.5
137499.5
499.5
499.5
499.5
8749.5
274999.5
2499.5
94999.5
6249.5
22499.5
3499.5
2499.5
12499.5
27499.5
8749.5
2499.5
174999.5
499.5
54999.5
34999.5
499.5
499.5
1499.5
84999.5
2499.5
22499.5
12499.5
17499.5
1499.5
1499.5
12499.5
499.5
44999.5
499.5
34999.5
17499.5
17499.5
4499.5
44999.5
17499.5
64999.5
34999.5
8749.5
17499.5
499.5
499.5
2499.5
64999.5
3499.5
12499.5
12499.5
12499.5
74999.5
1499.5
64999.5
8749.5
8749.5
54999.5
4499.5
64999.5
6249.5
2499.5
499.5
499.5
3499.5
17499.5

In [45]:
df_analistas.columns

Index(['q1_edad', 'q2_genero', 'q3_país', 'q4_educacion', 'q5_ocupacion',
       'q6_exp_tech', 'q8_l_recomendado', 'q11_tipo_plataforma',
       'q20_i_actual', 'q21_tamanio_cia', 'q22_da_cia', 'q25_salario',
       'q26_ppto_ml_cc', 'q33_bigdata_product', 'q35_h_i_negocios',
       'q41_h_process_data', 'q7_l_utilizados', 'q9_adi', 'q14_h_viz',
       'q42_part_1', 'q42_part_2', 'q42_part_3', 'q42_part_4', 'q42_part_5',
       'q42_part_6', 'q42_part_7', 'q42_part_8', 'q42_part_9', 'q42_part_10',
       'q42_part_11', 'q42_other', 'q25_salario_limpia', 'salario1',
       'salario2', 'media_salario'],
      dtype='object')

In [47]:
df_analistas["media_salario"].unique()

array([2.499500e+03,          nan, 8.749500e+03, 4.995000e+02,
       2.749950e+04, 1.499500e+03, 1.124995e+05, 6.249500e+03,
       1.249950e+04, 1.749950e+04, 6.499950e+04, 1.374995e+05,
       2.249950e+04, 3.499500e+03, 4.499500e+03, 3.499950e+04,
       4.499950e+04, 2.249995e+05, 8.499950e+04, 5.499950e+04,
       7.499950e+04, 9.499950e+04, 1.749995e+05, 3.999995e+05,
       2.749995e+05, 1.000000e+06, 7.499995e+05])

In [49]:
len (df_analistas["media_salario"].unique())

27

In [48]:
df_analistas.stb.missing()

                     missing  total    percent
q42_other               2244   2301  97.522816
q42_part_11             2181   2301  94.784876
q42_part_7              2121   2301  92.177314
q42_part_9              2117   2301  92.003477
q42_part_10             2110   2301  91.699261
q42_part_5              2034   2301  88.396349
q42_part_3              2030   2301  88.222512
q42_part_2              1998   2301  86.831812
q42_part_1              1992   2301  86.571056
q35_h_i_negocios        1858   2301  80.747501
q33_bigdata_product     1694   2301  73.620165
q42_part_8              1617   2301  70.273794
q42_part_6              1332   2301  57.887875
q42_part_4              1252   2301  54.411126
q41_h_process_data       533   2301  23.163842
q26_ppto_ml_cc           292   2301  12.690135
salario2                 264   2301  11.473272
media_salario            262   2301  11.386354
salario1                 262   2301  11.386354
q25_salario              262   2301  11.386354
q14_h_viz                193   2301   8.387658
q11_tipo_plataforma      153   2301   6.649283
q22_da_cia               150   2301   6.518905
q9_adi                   146   2301   6.345067
q8_l_recomendado         144   2301   6.258149
q7_l_utilizados          143   2301   6.214689
q21_tamanio_cia          130   2301   5.649718
q20_i_actual             114   2301   4.954368
q2_genero                  0   2301   0.000000
q6_exp_tech                0   2301   0.000000
q5_ocupacion               0   2301   0.000000
q25_salario_limpia         0   2301   0.000000
q4_educacion               0   2301   0.000000
q3_país                    0   2301   0.000000
q1_edad                    0   2301   0.000000

In [56]:
df["q5_ocupacion"].value_counts()

Student                         6798
Data Scientist                  3616
Software Engineer               2449
Other                           2392
Data Analyst                    2301
Currently not employed          1986
Research Scientist              1538
Machine Learning Engineer       1498
Business Analyst                 968
Program/Project Manager          849
Data Engineer                    668
Product Manager                  319
Statistician                     313
DBA/Database Engineer            171
Developer Relations/Advocacy      99
Name: q5_ocupacion, dtype: int64

In [54]:
pd.options.display.max_rows = None

In [55]:
df.stb.missing()

                     missing  total    percent
q18_other              25846  25965  99.541691
q39_part_3             25829  25965  99.476218
q10_part_15            25818  25965  99.433853
q27_a_part_10          25793  25965  99.337570
q10_part_6             25790  25965  99.326016
q10_part_4             25756  25965  99.195070
q10_part_13            25714  25965  99.033314
q27_a_part_9           25706  25965  99.002503
q10_part_14            25705  25965  98.998652
q27_a_part_7           25690  25965  98.940882
q27_a_part_6           25675  25965  98.883112
q39_part_1             25672  25965  98.871558
q39_part_8             25660  25965  98.825342
q39_other              25659  25965  98.821490
q27_a_other            25628  25965  98.702099
q10_part_9             25617  25965  98.659734
q39_part_2             25578  25965  98.509532
q27_a_part_8           25575  25965  98.497978
q27_a_part_5           25511  25965  98.251492
q27_a_part_4           25393  25965  97.797034
q42_other              25382  25965  97.754670
q10_part_12            25375  25965  97.727710
q39_part_5             25260  25965  97.284806
q10_other              25228  25965  97.161564
q10_part_8             25212  25965  97.099942
q42_part_11            24958  25965  96.121702
q10_part_3             24903  25965  95.909879
q10_part_7             24898  25965  95.890622
q40_part_5             24808  25965  95.544002
q18_part_6             24526  25965  94.457924
q18_part_5             24473  25965  94.253803
q40_part_11            24203  25965  93.213942
q10_part_5             24195  25965  93.183131
q10_part_11            24171  25965  93.090699
q40_part_9             24161  25965  93.052186
q39_part_7             24117  25965  92.882727
q42_part_10            23970  25965  92.316580
q42_part_7             23943  25965  92.212594
q10_part_10            23914  25965  92.100905
q40_other              23884  25965  91.985365
q35_h_i_negocios       23728  25965  91.384556
q27_a_part_2           23515  25965  90.564221
q18_part_1             23303  25965  89.747737
q27_a_part_11          23276  25965  89.643751
q40_part_8             23272  25965  89.628346
q18_part_3             23249  25965  89.539765
q18_part_2             23225  25965  89.447333
q40_part_6             23162  25965  89.204699
q42_part_3             23026  25965  88.680917
q42_part_5             22970  25965  88.465242
q40_part_2             22937  25965  88.338148
q39_part_6             22900  25965  88.195648
q27_a_part_3           22823  25965  87.899095
q39_part_9             22798  25965  87.802811
q42_part_9             22615  25965  87.098017
q42_part_2             22524  25965  86.747545
q27_a_part_1           22244  25965  85.669170
q42_part_1             22218  25965  85.569035
q40_part_4             21969  25965  84.610052
q18_part_4             21592  25965  83.158097
q39_part_4             21379  25965  82.337762
q33_bigdata_product    21309  25965  82.068169
q40_part_10            21083  25965  81.197766
q40_part_7             19525  25965  75.197381
q10_part_16            18795  25965  72.385904
q42_part_8             17988  25965  69.277874
q40_part_3             17295  25965  66.608897
q10_part_1             16460  25965  63.393029
q40_part_1             16317  25965  62.842288
q10_part_2             16173  25965  62.287695
q42_part_6             15565  25965  59.946081
q42_part_4             14593  25965  56.202580
q26_ppto_ml_cc         10784  25965  41.532833
q25_salario            10576  25965  40.731754
q22_da_cia              9841  25965  37.901021
q21_tamanio_cia         9716  25965  37.419603
q20_i_actual            9642  25965  37.134604
q41_h_process_data      7477  25965  28.796457
q14_h_viz               2001  25965   7.706528
q11_tipo_plataforma     1251  25965   4.818024
q9_adi                  1038  25965   3.997689
q8_l_recomendado        1032  25965   3.974581
q7_l_utilizados         1031  25965   3.970730
q6_exp_tech                0  25965   0.000000
q5_ocupacion               0  25965   0.000000
q2_genero                  0  25965   0.000000
q4_educacion               0  25965   0.000000
q3_país                    0  25965   0.000000
q1_edad                    0  25965   0.000000